/*Overall*/
body {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Lato, sans-serif;
    font-weight: 700;
    background-color: #fbf7ed;
    color: #42474c;
}

.flex-break{
    flex-basis: 100%;
}


/*Navigation and footer*/
nav a{
    font-size: 1.3rem;
    color:#ffffff;
    text-decoration: none;
}

footer{
    position: absolute;
    width: 49%;
    margin-top: 3%;
}
footer, nav{
    background-color: #002e25;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 0.25rem;
    padding: 0.6rem;
}


/*List styles*/
#author-list, #book-list{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.title-cell, .author-cell, .grade-cell{
    font-size: 1.4rem;
    font-weight: 700;
    color: #002e25;
}

.header-cell{
    padding: 0.1rem 0rem 0.1rem 0rem;
}

.header-divider{
    background-color: #002e25;
    padding-top: 0.2rem;
    border-radius: 0.25rem;
    flex-basis: 100%;
}

#author-list > div:nth-child(5){
    flex-basis:0;
}

#author-list div:nth-child(4n+2), #book-list div:nth-child(4n+1){
    flex-basis: auto;
}

#author-list div:nth-child(4n+3), #book-list div:nth-child(4n+2){
    flex-basis: auto;
}

#author-list div:nth-child(4n+4), #book-list div:nth-child(4n+3){
    flex-basis: auto;
}

.score-filled{
    color:darkorange;
}

.score-empty{
    color:lightgray;
}


/*Form styles*/
form{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.input-cell{
    margin-top: 0.5rem;
    margin-bottom:3%;
}
input{
    width: 18rem;
}
#read {
    width: 1rem;
}

input[type="radio"]{
    width: 2rem;
}

input[type="submit"]{
    width: 8rem;
    float: right;
    font-weight: 700;
    background-color: #002e25;
    color: #ffffff;
    padding:0.15rem;
    border-radius: 0.25rem;
    border: none;
}

