/* kood tuleb siia */ .c, p.b{
    color: blue;
    font-style: italic;
}

/* kood tuleb siia */span.b {
    color: red;
    font-style: normal;
}

/* kood tuleb siia */ .a{
    color: green;
    font-style: italic;
}
